<%- include("partials/header") -%>

<h2 class="heading">
  Welcome ! 
  <br><br>
  Choose your Zodiac sign & <br />
  get your love Percentage straight away!
</h2>

<a href="/yourZodiac">
  <button class="btn btn-lg btn-success"> Get Started!</button>
</a>

<p class="link">
  <a href="/getZodiac">Don't know your Zodiac sign? Click here.</a>
</p>

<%- include("partials/footer") -%>
